{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>{{title}}</h1>
    {% if hunter_session is none %}
    <p>{{text_invalid_session|safe}}</p>
    {% elif attacker_events %}
    <table class="content_table">
        <tr>
        <th>Callsign</th>
        <th>Kind</th>
        <th>Has OPFOR IFF</th>
        <th>Trigger</th>
        <th>Time</th>
        </tr>
        {% for event in attacker_events %}
        <tr>
        <td>{{event.callsign}}</td>
        <td>{{event.fgfs_model}}</td>
        <td>
            {% if event.has_opfor_iff %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td>
        <td>{{event.trigger.name}}</td>
        <td>{{event.event_time}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no registered attacker events in the current session.</p>
    {% endif %}

</div>
{% endblock %}
