{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>{{title}}</h1>
    {% if hunter_session is none %}
    <p>{{text_invalid_session|safe}}</p>
    {% else %}
    <table>
        <tr><td><div class="label_table">ID</div></td><td>{{hunter_session.session_id}}</td></tr>
        <tr><td><div class="label_table">Scenario name</div></td><td>{{hunter_session.name}}</td></tr>
        <tr><td><div class="label_table">Scenario description</div></td><td>{{hunter_session.description}}</td></tr>
        <tr><td><div class="label_table">Typical airport</div></td><td>{{hunter_session.icao}}</td></tr>
        <tr><td><div class="label_table">Started by</div></td><td>{{hunter_session.started_by}}</td></tr>
        <tr><td><div class="label_table">Started at (UTC)</div></td><td>{{hunter_session.started_dt}}</td></tr>
        <tr><td><div class="label_table">Stopped at (UTC)</div></td><td>{{hunter_session.stopped_dt}}</td></tr>
        <tr><td><div class="label_table">MP server host</div></td><td>{{hunter_session.mp_server_host}}</td></tr>
        <tr><td><div class="label_table">GCI is enabled</div></td><td>
            {% if hunter_session.gci %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">Shooting helis</div></td><td>
            {% if hunter_session.heli_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">Shooting drones</div></td><td>
            {% if hunter_session.drone_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">Shooting ships</div></td><td>
            {% if hunter_session.ship_shoot > 0 %} {{hunter_session.ship_shooting_display}}
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">Shooting Shilkas</div></td><td>
            {% if hunter_session.shilka_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">Shooting SAMs</div></td><td>
            {% if hunter_session.sam_shoot > 0 %} {{hunter_session.sam_shooting_display}}
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">MP AWACS active</div></td><td>
            {% if hunter_session.awacs %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">MP Tanker active</div></td><td>
            {% if hunter_session.tanker %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">MP carrier active</div></td><td>
            {% if hunter_session.carrier %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td><div class="label_table">Not in session list</div></td><td>
            {% if hunter_session.no_list %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
    </table>

    <p>Click on the blue markers in the map to get info about the airport like ICAO and name.</p>

    <!-- a map showing the area -->
    <div id="map_current_session"></div>
    <script>
        var south_west = {{ hunter_session.south_west|tojson }};
        var north_east = {{ hunter_session.north_east|tojson }};
        var airport_data = {{ airports|tojson }};

        var my_map = L.map('map_current_session').fitBounds([
            [south_west[1], south_west[0]],
            [north_east[1], north_east[0]]
        ]);

        L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        }).addTo(my_map);
        L.control.scale().addTo(my_map);

        for (i in airport_data) {
            var marker = L.marker([airport_data[i][2], airport_data[i][1]]).addTo(my_map);
            marker.bindPopup(airport_data[i][0]);
        }
    </script>

    {% endif %}

</div>
{% endblock %}
