{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>{{title}}</h1>
    {% if hunter_session is none %}
    <p>{{text_invalid_session|safe}}</p>
    {% elif positions %}
    <table class="content_table">
        <tr>
            <th>Callsign</th>
            <th>Kind</th>
            <th>Health</th>
            <th>Lon</th>
            <th>Lat</th>
            <th class="right">Altitude [m]</th>
            <th class="right">Altitude [ft]</th>
            <th class="right">Heading</th>
            <th class="right">Speed</th>
        </tr>
        {% for position in positions %}
        <tr>
            <td>{{position.callsign}}</td>
            <td>{{position.kind}}</td>
            <td>{{position.health.name}}</td>
            <td>{{'%0.5f'| format(position.position.lon|float)}}</td>
            <td>{{'%0.5f'| format(position.position.lat|float)}}</td>
            <td class="right">{{position.position.alt_m|int}}</td>
            <td class="right">{{position.position.alt_ft|int}}</td>
            <td class="right">{{position.heading|int}}</td>
            <td class="right">{{position.speed|int}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no registered positions in the current session.</p>
    {% endif %}

</div>
{% endblock %}
