{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>{{title}}</h1>
    {% if sessions %}
    <p>Choose a session by clicking on the link in column "ID".</p>
    <table class="content_table">
        <tr>
            <th>ID</th>
            <th>Scenario Name</th>
            <th>MP Server Host</th>
            <th>Started At (UTC)</th>
            <th>Stopped At (UTC)</th>
        </tr>
        {% for hunter_session in sessions %}
        <tr>
            <td><a href="/ongoing_session/current_session?session_id={{hunter_session.session_id}}">{{hunter_session.session_id}}</a></td>
            <td>{{hunter_session.name}}</td>
            <td>{{hunter_session.mp_server_host}}</td>
            <td>{{hunter_session.started_dt}}</td>
            <td>{{hunter_session.stopped_dt}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no registered sessions.</p>
    {% endif %}

</div>
{% endblock %}
