body {
    background-color: black;
    color: white;
}

a {
    color: #6699ff;
}

a.home {
    color: #ff6666;
}

a.documentation {
    color: hotpink;
}

a.weather {
    color: #66ff99;
}

h1 {
    color: #5e5c64;
}

.content_table {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.content_table td, .content_table th {
    border: 1px solid #5e5c64;
    padding: 8px;
}

.content_table tr:nth-child(even){background-color: #252528;}

.content_table tr:hover {background-color: #3e3d42;}

.content_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5e5c64;
    color: white;
}

.content_table th.right {
    text-align: right;
}

.content_table td.right {
    text-align: right;
}


.fixed-footer {
    margin-top: 25px;
    bottom: 0;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    color: #5e5c64;
}

/* checkmarks for boolean true and false */
.check_true {
    color: green;
}
.check_false {
    color: red;
}
.label_table {
    color: #5e5c64;
}

#map_current_session {
    height: 600px;
    width: 800px;
}

#map_positions {
    height: 800px;
    width: 1024px;
}

/* Form stuff  */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 800px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #5e5c64;
    border-radius: 1em;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 300px;
    text-align: right;
    color: #5e5c64;
}

.label_result {
    color: #66ff99;
}

:disabled {
    background: #3e3d42;
    color: #66ff99;
    font-weight: bold;
}

input {
    background-color: #5e5c64;
}

select {
    background-color: #5e5c64;
}

.button {
    background: #66ff99;
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 480px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-inner {
    white-space: pre-wrap;
}
