<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    {% if title %}
    <title>{{ title }} - Hunter Web UI</title>
    {% else %}
    <title>Welcome to the Hunter Web UI</title>
    {% endif %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Control.Coordinates.css') }}"/>
    {% if leaflet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Control.Coordinates.css') }}" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="{{ url_for('static', filename='leaflet-providers.js') }}"></script>
    <script src="{{ url_for('static', filename='Control.Coordinates.js') }}"></script>
    {% endif %}
</head>
<body>

<!-- START top navigation bar-->
<div class="fixed-header">
    <!-- <h1>Hunter Web UI</h1> -->
</div>

<nav><a class="home" href="/">Home</a>
    &brvbar; <a class="weather" href="/tools/weather_qfe">Weather</a>
    &brvbar; <a href="/ongoing_session/sessions_list">List of available sessions</a>
    {% if hunter_session %}
    &boxV; <a href="/ongoing_session/current_session{{hunter_session.url_param}}">Session Details</a>
    &brvbar; <a href="/ongoing_session/damages{{hunter_session.url_param}}">Damage and Hits</a>
    &brvbar; <a href="/ongoing_session/attacker_events{{hunter_session.url_param}}">Attacker Events</a>
    &brvbar; Attacker and Target Positions <a href="/ongoing_session/positions_list{{hunter_session.url_param}}">List</a>
    &bullet; <a href="/ongoing_session/positions_map{{hunter_session.url_param}}">Map</a>
    {% endif %}
    &diams; <a class="documentation" rel="external" href="https://vanosten.gitlab.io/hunter/end_user_flying.html">Hunter Documentation &#10697;</a>
</nav>
<!-- END menu bar-->

<!-- The real content -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- The generic footer -->
<div class="fixed-footer">
    <div class="container">Copyright &copy; 2024 Rick Gruber-Riemer</div>
</div>
</body>
</html>